{% extends "base.html" %}
{% block title %}Categorias | MercattoPy{% endblock %}

{% block content %}

<h3 class="mb-4">Categorias</h3>

<table class="table table-striped shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
                {% if category.is_active %}
                    <span class="badge bg-success">Ativa</span>
                {% else %}
                    <span class="badge bg-danger">Inativa</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}